.button{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 40px;
    background-color: white;
}
.back{
    width: 500px;
    height: 100px;
    margin: 0 auto;
    display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}
