body {
    font-size: 20px;
    background-image: url(gradient.jpg);
  }
  .main {
    display: flex;
  }
  .calc {
    background-color: #1c93ee;
    width: 385px;
    padding: 30px;
      float: left;
      margin-left: 190px;
      margin-top: 80px;
  }
  .calc-display-input {
    width: 360px;
    height: 60px;
    margin: 20px 0;
    background-color: #1d1d1d;
    color: #fff;
    text-align: right;
    font-size: 35px;
    padding: 10px;
  }
  .calc-display-input-error{
    color:red;
    font-size:24px;
  }
  .calc_button-row td {
    margin: 0 auto;
    padding: 5px;
  }
  .btn {
    width: 85px;
    height: 60px;
    background-color: #f4f4f4;
    font-size: 27px;
    color: #666666;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;
    transition: 0.1s all;
  }
  .btn-hover-red:hover {
    background-color: #d83e33;
    color: #f2f2f2;
  }
  .btn-hover-orange:hover {
    background-color: #ff6a00;
    color: #f2f2f2;
  }
  .btn-hover-green:hover {
    background-color: green;
    color: #f2f2f2;
  }
  .btn:active {
    transform: translateY(-1px);
  }
  .btn-long {
    width: 183px;
  }
  .btn-equal {
    height: 145px;
  }
  input,
  button {
    padding: 5px 15px;
    margin: 10px;
    border: 0;
    outline: 0;
  }
  button {
    margin-left: 0;
    padding: 15px 24px;
  }
  @media screen and (max-width: 768px) {
    .calc {
      width: 300px;
      margin: 0 auto;
    }
    .calc-display-input {
      width: 280px;
    }
    input[placeholder] {
      font-size: 28px;
    }
    input::-moz-placeholder {
      font-size: 28px;
    }
    input:-moz-placeholder {
      font-size: 28px;
    }
    input:-ms-input-placeholder {
      font-size: 28px;
    }
    .btn {
      width: 64px;
    }
    .btn-long {
      width: 140px;
    }
  }
  @media screen and (max-width: 400px) {
    .calc {
      width: 280px;
    }
    .calc-display-input {
      width: 260px;
    }
    .btn {
      width: 60px;
    }
    .btn-long {
      width: 132px;
    }
  }
  .about{
    background-color: rgba(255, 255, 255, 0.16);
    float: right;
    height: 600px;
    width: 650px;
    margin: 80px 10px 0 50px;
}
#text h1{
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    display: block;
    text-align: center;
    margin-top: 50px;
}
#text h2{
    font-size: 20px;
    color: white;
    display: block;
    margin-top: 50px;
    margin-left: 30px;
    font-weight: normal;
}
#text p{
    font-size: 20px;
    color: white;
    display: block;
    margin-top: 20px;
    margin-left: 30px;
}